@import 'normalize';
@import 'reset';
@import 'mixins';
@import 'variables';

$main-color: hsl(10, 20%, 30%);
$purple: rgba(174,129,255,1);


$padd: 3rem;

body,
html{
	width: 100%;
	background: #fff;
	color: $main-color;
	font: 100%/2 "Lato", sans-serif;
	@include font-settings;
}


a{
	color: $main-color;
	&:visited{
		color: $main-color;
	}
	&:hover{
		color: $purple;
	}
}

.container{
	@include flex(column, center, center);
	background-color: hsl(10, 80%, 90%);
	padding: $padd;
}

.repo-link{
	text-align: left;
	p{
		font-size: 0.8rem;
		color: lighten($main-color, 20%);
	}
}

@media screen and (min-width: 50rem){
	.container{
		width: 60%;
		margin: 0 auto;
		@include flex(row, space-around);
		flex-wrap: wrap;
		section{
			flex: 1;
			@include flex(column);
		}
	}
}