@import 'normalize';
@import 'reset';
@import 'mixins';
@import 'variables';

body,
html{
	width: 100%;
	background: #fff;
	color: $main-dark;
	font: 100%/2 "Consolas", "Monaco", monospace;
	@include font-settings;
}


a{
	color: $main-dark;
	&:visited{
		color: $main-dark;
	}
	&:hover{
		color: $purple;
	}
}

.container{
	@include flex(column, center, center);
	box-shadow: 5px 5px 0 hsl(150, 80%, 90%);
	background-color: hsl(10, 80%, 90%);
	padding: $padd;
}

@media screen and (min-width: 50rem){
	.container{
		width: 60%;
		margin: 0 auto;
		@include flex(row, space-around, center);
		flex-wrap: wrap;
		section{
			flex: 1;
			@include flex(column, flex-start, center);
		}
	}
}