input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  animate: 0.2s;
  background: #FFFFFF;
  box-shadow: 4px 4px 0px #c1c1c1;
}
input[type=range]::-webkit-slider-thumb {
  height: 24px;
  width: 32px;
  background: hsla(0, 30%, 70%,1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  box-shadow: 3px 3px 0px #c1c1c1;
}
/*input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
  border-radius: 20px;
}*/

#old-school{
  font-family: "Classic Console", monospace;
  color: cyan;
  text-shadow: 0 0 10px cyan;

}